        body {
            background-color: #f8f9fa;
            height: 100vh;
            display: flex;
            align-items: center;
        }
        .password-recovery-card {
            max-width: 450px;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            background-color: white;
            margin: 0 auto;
        }
        .form-control:focus {
            border-color: #4e73df;
            box-shadow: 0 0 0 0.25rem rgba(78, 115, 223, 0.25);
        }
        .btn-primary {
            background-color: #4e73df;
            border-color: #4e73df;
        }
        .btn-primary:hover {
            background-color: #3a5bd9;
            border-color: #3a5bd9;
        }
        .logo {
            text-align: center;
            margin-bottom: 25px;
        }
        .logo i {
            font-size: 3rem;
            color: #4e73df;
        }
        /* Стили для индикатора загрузки */
        .loading-spinner {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            display: none;
        }
        .spinner-border {
            width: 4rem;
            height: 4rem;
            color: navy;
        }
        .loading-text {
            color: navy;
            margin-top: 100px;
            font-weight: 500;
            font-size: 1.5rem;
        }
        .btn-loading {
            position: relative;
        }
        .btn-loading .spinner-border {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }
        .btn-loading .btn-text {
            opacity: 1;
            transition: opacity 0.3s;
        }
        .btn-loading.loading .btn-text {
            opacity: 0;
        }
        .btn-loading.loading .spinner-border {
            display: block;
        }